.photo-grid {
  max-width: 1184px;
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: 92px auto 0;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 92px auto 0;
    grid-template-columns: fit-content(352px) fit-content(352px);
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    width: 90%;
    grid-template-columns: 1fr;
  }
}

