.places {
  max-width: 984px;
  margin: 0 auto;
}

.places__item:first-of-type {
  margin-top: 92px;
}

.places__item {
  margin: 80px auto 0;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 0 40px;
}

.places__title {
  margin: 0;
/* Обнулил стандартный margin */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.places__website {
  align-self: end;
}

.places__url-heading {
  margin: 0;
  padding-bottom: 12px;
/* Обнулил стандартный margin */
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

.places__link:hover {
  opacity: .8;
}

.places__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color:#FFFFFF;
  transition: opacity .5s linear;
  /* Плавная прозрочность при наведении */
}

.places__image {
  max-width: 100%;
  margin-top: 48px;
}

.places__text {
  margin-top: 48px;
}

.places__paragraph:first-of-type {
  margin-top: 0;
} 

.places__paragraph {
  margin: 26px 0 0 0;
/* Обнулил стандартный margin */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}


@media screen and (max-width: 600px) {
  .places__item {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    width: 90%;
    margin: 2em auto 0;
  }

  .places__website {
    margin-top: 1.5em;
  } 

  .places__image {
    margin-top: 1.2em;
  }
}
