.places {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width:720px) {
  .places {
    width: 90%;
  }
}

@media screen and (max-width:320px) {
  .places {
    max-width: 320px;
    width: 100%;
  }
}
