.places__title {
  margin: 0;
/* Обнулил стандартный margin */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .places__title {
    font-size: 42px;
  }
}

@media screen and (max-width:320px) {
  .places__title {
    font-size: 32px;
    line-height: 109%;
    margin-left: 5%;
  }
}

