.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.lead__title {
  max-width: 720px;
  margin: 56px auto 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image-contaner {
  margin: 64px 0 0 0;
  /* Обнулил стандартный margin у figure */
  /* Тег figure использован, чтобы разместить фото с подписью */
}

.lead__image {
  width: 100%;
} 

.lead__caption {
  min-width: 158px;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    max-width: 720px;
    margin: auto;
  }
  /* Чтобы у подписи появился отступ */
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 62px;
    line-height: 1.2;
  }

  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
  }

  .lead__caption {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 40px;
  }

  .lead__subtitle {
    font-size: 16px;
  }  
}