.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width:400px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
  }
}

