.footer__link-item:hover {
  opacity: .8;
}

.footer__link-item:last-of-type {
  margin-right: 0;
}

.footer__link-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  margin-right: 18px;
  transition: opacity .5s linear;
  /* Плавная прозрочность при наведении */
}

@media screen and (max-width: 730px) {
  .footer__link-item:first-of-type {
    margin-top: 0;
  }

  .footer__link-item {
    margin-top: 32px;
  }
}