.lead__title {
  max-width: 720px;
  margin: 56px auto 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0;
  } 
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 62px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
  }
}