.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 730px) {
  .footer__links {
    flex-direction: column;
  }
}