.intro {
 max-width: 984px;
 width: 90%;
 margin: 0 auto;
}

.intro__title {
  max-width: 690px;
  margin: 92px 0 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  max-width: 690px;
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style: none;
  margin: 33px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-item_width-normal {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
   }
}

@media screen and (max-width: 720px) {
  .intro {
    width: 90%;
   }
}