.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
  } 
}