.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}
/* В аннотации к работе указано не использовать абсолютных величин, потому сделал vh для секции cover. Нет идей, как реализовать иначе */


.cover__link {
  text-decoration: none;
}

.cover__title {
  margin: 0 auto;
  padding-bottom: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.cover__overlay {
  background-color: rgba(42,44,47,0.3);
  /* Прозрачность только у фона, не затрагивая текст */
  width: 100%;
  height: 100%;
  display: flex;
}

.cover__overlay:hover {
  background-color: rgba(42,44,47,0.8);
}

.cover__contaner {
  margin: auto;
  color: #FFFFFF;
}
/* Контейнер для выравнивания текста по центру */

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    height: 50vh;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    height: 25vh;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}