.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  background-image: url("../../images/cover-trains.jpg");
  /* Чтобы поместить текст поверх изображения делаю изображение фоновым */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 740px;
  
}
/* В аннотации к работе указано не использовать абсолютных величин, потому сделал vh для секции cover. Нет идей, как реализовать иначе. */

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    max-width: 550px;
    min-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}