.cover__overlay {
  background-color: rgba(42,44,47,0.3);
  /* Прозрачность только у фона, не затрагивая текст */
  width: 100%;
  height: 100%;
  /* overlay растягивается на размеры cover */
  min-height: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__overlay:hover {
  background-color: rgba(42,44,47,0.8);
  /* Затемнение оверлея при наведении */
}

@media screen and (max-width: 1024px) {
.cover__overlay {
  min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
.cover__overlay {
  min-height: 480px;
  }
}

@media screen and (max-width: 550px) {
.cover__overlay {
  min-height: 350px;
  }
}


@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}