.cover__overlay {
  background-color: rgba(42,44,47,0.3);
  /* Прозрачность только у фона, не затрагивая текст */
  width: 100%;
  height: 100%;
  /* overlay растягивается на размеры cover */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__overlay:hover {
  background-color: rgba(42,44,47,0.8);
  /* Затемнение оверлея при наведении */
}
