/* Подклюсил normalize.css */
@import url("../vendor/normalize.css");

/* Подключил шрифты */
@import url("../vendor/inter.css");

/* Блок root */
@import url("../blocks/root/root.css");

/* Блок header */
@import url("../blocks/header/header.css");
/* Элемент logo */
@import url("../blocks/header/__logo/header__logo.css");
/* Элемент lang-link */
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link/_status/header__lang-link_status_active.css");

/* Блок lead */
@import url("../blocks/lead/lead.css");
/* Элемент title */
@import url("../blocks/lead/__title/lead__title.css");
/* Элемент subtitle */
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
/* Элемент image-contaner */
@import url("../blocks/lead/__image-contaner/lead__image-contaner.css");
/* Элемент image */
@import url("../blocks/lead/__image/lead__image.css");
/* Элемент caption */
@import url("../blocks/lead/__caption/lead__caption.css");

/* Блок intro */
@import url("../blocks/intro/intro.css");
/* Элемент title */
@import url("../blocks/intro/__title/intro__title.css");
/* Элемент text */
@import url("../blocks/intro/__text/intro__text.css");
/* Элемент list */
@import url("../blocks/intro/__list/intro__list.css");
/* Элемент span-accent */
@import url("../blocks/intro/__span-accent/intro__span-accent.css");

/* Блок photo-grid */
@import url("../blocks/photo-grid/photo-grid.css");
/* Элемент item */
@import url("../blocks/photo-grid/__item/photo-grid__item.css");

/* Блок places */
@import url("../blocks/places/places.css");
/* Элемент item */
@import url("../blocks/places/__item/places__item.css");
/* Элемент title */
@import url("../blocks/places/__title/places__title.css");
/* Элемент website */
@import url("../blocks/places/__website/places__website.css");
/* Элемент url-heading */
@import url("../blocks/places/__url-heading/places__url-heading.css");
/* Элемент link */
@import url("../blocks/places/__link/places__link.css");
/* Элемент image */
@import url("../blocks/places/__image/places__image.css");
/* Элемент text */
@import url("../blocks/places/__text/places__text.css");
/* Элемент paragraph */
@import url("../blocks/places/__paragraph/places__paragraph.css");

/* Блок cover */
@import url("../blocks/cover/cover.css");
/* Элемент link */
@import url("../blocks/cover/__link/cover__link.css");
/* Элемент title */
@import url("../blocks/cover/__title/cover__title.css");
/* Элемент subtitle */
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
/* Элемент cover */
@import url("../blocks/cover/__overlay/cover__overlay.css");
/* Элемент contaner */
@import url("../blocks/cover/__contaner/cover__contaner.css");

/* Блок footer */
@import url("../blocks/footer/footer.css");
/* Элемент links */
@import url("../blocks/footer/__links/footer__links.css");
/* Элемент link-item */
@import url("../blocks/footer/__link-item/footer__link-item.css");
/* Элемент link */
@import url("../blocks/footer/__link/footer__link.css");
/* Элемент copyright */
@import url("../blocks/footer/__copyright/footer__copyright.css");