/* Подклюсил normalize.css */
@import url("../vendor/normalize.css");
/* Подключил шрифты */
@import url("../vendor/inter.css");
/* Блок root */
@import url("../blocks/root/root.css");
/* Блок header */
@import url("../blocks/header/header.css");
/* Блок lead */
@import url("../blocks/lead/lead.css");
/* Блок intro */
@import url("../blocks/intro/intro.css");
/* Блок intro */
@import url("../blocks/photo-grid/photo-grid.css");
/* Блок places */
@import url("../blocks/places/places.css");
/* Блок cover */
@import url("../blocks/cover/cover.css");
/* Блок footer */
@import url("../blocks/footer/footer.css");