.lead__caption {
  min-width: 158px;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    max-width: 720px;
    margin: auto;
    /* margin: auto, чтобы у подписи появился отступ слева */
  }
}

@media screen and (max-width: 720px) {
  .lead__caption {
    width: 90%;
  }
}

@media screen and (max-width:320px) {
  .lead__caption {
    max-width: 288px;
  }
}