.cover__title {
  margin: 0 auto;
  padding-bottom: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 40px;
  }
}

@media screen and (max-width:400px) {
  .cover__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
  }
}