.footer {
  margin: 92px auto 24px;
  display: flex;
  max-width: 1184px;
  width: 90%;
  justify-content: space-between;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__link-item:hover {
  opacity: .8;
}

.footer__link-item:last-of-type {
  margin-right: 0;
}

.footer__link-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  transition: opacity .5s linear;
}

.footer__link {
  color:#FFFFFF;
  text-decoration: none;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 730px) {
  .footer { 
    flex-direction: column;
    margin-top: 64px;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__link-item:first-of-type {
    margin-top: 0;
  }

  .footer__link-item {
    margin-top: 32px;
  }

  .footer__copyright {
    margin-top: 48px;
  }
}