.footer {
  margin: 92px auto 24px;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 730px) {
  .footer { 
    flex-direction: column;
    margin-top: 64px;
  }
}

@media screen and (max-width:720px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
  }
}