.places__item:first-of-type {
  margin-top: 92px;
}

.places__item {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 0 40px;
}

@media screen and (max-width: 1024px) {
  .places__item {
    gap: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__item:first-of-type {
    margin-top: 88px;
  }

  .places__item {
    gap: 0 28px;
  }
}

@media screen and (max-width: 600px) {
  .places__item {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    margin: 2em auto 0;
  }
}

@media screen and (max-width:320px) {
  .places__item:first-of-type {
    margin-top: 64px;
  }

  .places__item {
    margin-top: 50px;
  }
}