.intro__title {
  max-width: 690px;
  margin: 92px 0 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 109%;
  }
}